body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(155, 132, 8, 0.83);
}

#start {
  background-color: gold;
  border-radius: 100%;
}