body::after {
  position: absolute;
  height: var(--light-size, 800px);
  width: var(--light-size, 800px);
  content: '';
  top: var(--mouseY, 200px);
  left: var(--mouseX, 200px);
  background: radial-gradient(gold, transparent 70%);
  z-index: -2;
  transition: opacity 0.2s;
}

body::after:hover {
  opacity: .4;
}