.obstacle {
  position: absolute;
  background-color: rgb(65, 4, 27);
}

.shadow-ref {
  position: relative;
}

.shadow-ref::after {
  position: absolute;
  content: "";
  width: 200vw;
  height: 96%;
  top: 0px;
  right: var(--shadow-right, 0);
  transform: rotate(var(--shadow-rotate, 0));
  transform-origin: center right;
  background-color: black;
  z-index: -1;
}