.obstacle {
  position: absolute;
  background-color: rgb(65, 4, 27);
}

.shadow-ref {
  position: relative;
}

.shadow-ref::after {
  position: absolute;
  content: "";
  width: 800px;
  height: 200%;
  top: -50%;
  right: var(--shadow-right, 0);
  transform: rotate(var(--shadow-rotate, 0));
  transform-origin: center right;
  clip-path: polygon(var(--shadow-path, "100% 100%,100% 100%,100% 100%,100% 100%"));
  background-color: black;
  z-index: -1;
}