.obstacle {
  position: absolute;
  background-color: lightblue;
  border: 1px solid maroon;
}

/*
* About the shadow 🔦
* Height of the parent, the obstacle, is defined in obstacle.class.js, the shadow inherits from it.
* We add 2px to the shadows's height and -1px to top to fit with the border of the parent
*/
.shadow-ref {
  position: relative;
}

.shadow-ref::after {
  position: absolute;
  content: "";
  width: 200vw;
  height: 96%;
  top: 0px;
  right: var(--shadow-right, 0);
  transform: rotate(var(--shadow-rotate, 0));
  transform-origin: center right;
  border: 1px solid black;
  background-color: black;
  z-index: -1;
}